if SHIELD_MINIMAL_KEYS_LEFT

config ZMK_KEYBOARD_NAME
    default "Minimal Keys"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MINIMAL_KEYS_RIGHT

config ZMK_KEYBOARD_NAME
    default "Minimal Keys Right"

endif

if SHIELD_MINIMAL_KEYS_LEFT || SHIELD_MINIMAL_KEYS_RIGHT

config ZMK_SPLIT
    default y

endif 